$icons: (
  gulp-path1: "\e901",
  gulp-path2: "\e902",
  gulp-path3: "\e903",
  vue-path1: "\e904",
  vue-path2: "\e905",
  vue-path3: "\e906",
  react-path1: "\e907",
  react-path2: "\e908",
  react-path3: "\e909",
  react-path4: "\e90a",
  webpack-path1: "\e90b",
  webpack-path2: "\e90c",
  webpack-path3: "\e90d",
  linkedin-path1: "\e90e",
  linkedin-path2: "\e90f",
  github: "\e910",
  drupal-logo: "\e900",
);