@import './reset';
@import './variables/colors';
@import './_icon';
@import './variables/_icons';
@import './mixins/_iconize';
@import './mixins/_rem';

$nunito: 'Nunito', sans-serif;
$acme: 'Acme', sans-serif;

html {
  font-size: 100%;
  max-height: 100vh;
  height: 100%;
}

body {
  overflow: hidden;
}

::selection {
  color: $black;
  background-color: $white;
}

////////////////////////////////////
/// here starts the real stuff  ////
////////////////////////////////////
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @media only screen and (max-width: 700px) {
    justify-content: flex-start;
  }
}

.container {
  max-width: rem(1200);
  margin: 0 auto;
  width: 100%;
}

.landingpage {
  width: 100%;
  max-width: rem(960);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: $acme;
  transition: all .5s ease;
  overflow-y: scroll;
  padding-bottom: rem(20);
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Typography
button {
  appearance: none;
  background: none;
  color: white;
  border: none;
  font-size: rem(15);
  padding: rem(10);
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: block;

  &:hover {
    background-color: rgba(0, 0, 0, 0.596);
  }

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

a {
  color: $white;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

// Homepage
.homepage--title {
  font-size: rem(35);
  margin: 0 auto;

  @media only screen and (max-width: 600px) {
    font-size: 13vw;
  }
}

// Icons
.icon-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

$icon-width: 25px;
$icon-height: 25px;

.icon {
  margin: rem(10) rem(7);

  &--drupal {
    @include iconize('drupal', $icon-width, $icon-height, $icon);

    &:hover {
      @include iconize('drupal', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--react {
    @include iconize('react', $icon-width, $icon-height, $icon);

    &:hover {
      @include iconize('react', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--vue {
    @include iconize('vue', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('vue', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--webpack {
    @include iconize('webpack', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('webpack', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--gulp {
    @include iconize('gulp', $icon-width, $icon-height + 5px, $icon);
    margin-bottom: rem(15);
    &:hover {
      @include iconize('gulp', $icon-width, $icon-height + 5px, $icon--hover);
    }
  }

  &--github {
    @include iconize('github', $icon-width, $icon-height + 5px, $icon);
    &:hover {
      @include iconize('github', $icon-width, $icon-height + 5px, $icon--hover);
    }
  }

  &--linkedin {
    @include iconize('linkedin', $icon-width, $icon-height + 5px, $icon);
    &:hover {
      @include iconize('linkedin', $icon-width, $icon-height + 5px, $icon--hover);
    }
  }

  &--vimeo {
    @include iconize('vimeo', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('vimeo', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--behance {
    @include iconize('behance', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('behance', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--website {
    @include iconize('website', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('website', $icon-width, $icon-height, $icon--hover);
    }
  }

  &--youtube {
    @include iconize('youtube', $icon-width, $icon-height, $icon);
    &:hover {
      @include iconize('youtube', $icon-width, $icon-height, $icon--hover);
    }
  }
}

// Background
#backgrounds img, #backgrounds canvas {
  display: none;
  max-width: rem(1200);
}

#canvas, #backgrounds {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  left: 0;
  z-index: -9;
}

/* handling WebGL context errors */
.no-webgl #backgrounds {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-webgl #backgrounds img {
  display: block;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

// Projects
.projects {
  display: flex;

  &--list {
    transition: all .5s ease;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.329);
    margin-right: 5%;
    max-height: rem(500);

    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;

    &--list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0 rem(15);
      }
    }
  }
}

.projects {
  &--info {
    line-height: 1.4;
    font-family: $nunito;
    width: 50%;

    &--title {
      font-size: rem(20);
      font-family: $acme;
      margin-bottom: rem(5);
    }

    &--urls {
      margin-top: rem(10);
      display: flex;
      align-items: center;

      li {
        margin: 0 rem(7);

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    &--info {
      width: 100%;
      max-width: rem(500);
      margin: 0 auto;
      margin-top: rem(25);
      padding: 0 rem(10);
    }
  }
}


.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(30px);

  @media only screen and (max-width: 700px) {
    transform: translateY(30px);
  }
}